#box1{
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size:225px;
    text-align:  center;
    background: lightgray;

    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px, 50px);
    transform: rotateX(90deg);
    transform: rotateY(90deg);
    transform: rotateZ(90deg);
    transform: scaleX(3);
    transform: scaleY(3);
    transform: scale(2,2);

    transform: skewX(45deg);
    transform: skewY(45deg);
    transform: skewZ(45deg);
    transform: skew(45deg, 20deg);

    transform: matrix(2,0,0,2,250,250);

    /* matrix:
    scaleX
    skewY
    skewX
    scaleY
    translateX
    translateY
    */
}
