body{
    background-image: url("RedB3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

h1{
    background-image: linear-gradient(to right, skyblue, white);
        background-repeat: no-repeat;
        background-attachment: fixed;
}

p {
    background-image: linear-gradient(to left, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}